[submodule "04_Exploratory_Data_Analysis/ExData_Plotting1"]
	path = 04 - Exploratory Data Analysis/ExData_Plotting1
	url = https://github.com/maneyko/ExData_Plotting1
[submodule "02_R_Programming/week03/ProgrammingAssignment2"]
	path = 02 - R Programming/ProgrammingAssignment2
	url = https://github.com/maneyko/ProgrammingAssignment2
[submodule "05 - Reproducible Research/RepData_PeerAssessment1"]
	path = 05 - Reproducible Research/RepData_PeerAssessment1
	url = https://github.com/maneyko/RepData_PeerAssessment1
